<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{head_tmpl::head (${title})}"></head>
<body>
<div class="p-2">
    <h2>Доска задач</h2>
</div>
<div class="d-flex flex-column ">
    <div class="container" th:replace="~{create_task_tmpl::createtask}">Блок создания новой заявки</div>
    <div class="container" th:replace="~{show_tasks_tmpl::showtask}">Блок показа существующих заявок</div>
</div>
<div class="container" th:replace="~{footer_tmpl::footer}">
</div>
</body>
</html>