<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Members</title>
</head>
<body>
    <h1>Hello, Members!</h1>
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        <u1 th:each="member: ${members}">
            <tr>
                <td th:text="${member.firstName}">Alfreds</td>
                <td th:text="${member.lastName}">Futterkiste</td>
            </tr>
        </u1>

    </table>
    <form>
        <input type="button"
                value = "Add new member"
                onClick = 'location.href="/members/new_member"'>
    </form>
</body>
</html>