<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create new member</title>
</head>
<body>
    <h1>Create new Member</h1>
<form action = "new_member/create" method="post">
    <div>
        <label>First Name</label>
        <input type="text" name="firstName" placeholder="Enter Your First Name">
    </div>
    <div>
        <label>Last Name</label>
        <input type="text" name="lastName" placeholder="Enter Your Last Name">
    </div>
    <button>Submit</button>
</form>
</body>
</html>