<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="d-flex flex-column p-3 text-bg-dark w-auto" id="navmenu" th:fragment="copy">
    <a th:href="@{/}"
       class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-4">Добро пожаловать на мой сайт!</span>
    </a>
    <div class="d-flex flex-column justify-content-center">
        <p class="text-start">Вы можете выбрать интересные темы</p>
    </div>
    <hr>
    <div class="d-grid gap-2">
        <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#home-collapse">
            Мои данные
        </button>
        <div class="collapse" id="home-collapse">
            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                <a class="btn btn-dark" th:href="@{aboutme.html}" role="button">Обо мне</a>
            </div>
        </div>
        <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#work-collapse">
            Работа
        </button>
        <div class="collapse" id="work-collapse">
            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                <a class="btn btn-dark" th:href="@{aboutcompany.html}" role="button">ИП Савельев</a>
            </div>
        </div>
        <button type="button" class="btn btn-primary" data-bs-toggle="collapse"
                data-bs-target="#notes-collapse">
            Профессиональные заметки
        </button>
        <div class="collapse" id="notes-collapse">
            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                <a class="btn btn-dark" th:href="@{switches.html}" role="button">Коммутаторы</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
